.benefits {
  .list-reset();
  border: 0;
  padding-bottom: 37px;

  @media @tablet {
    display: flex;
    align-items: baseline;
    min-height: 330px;
    padding: 0;
  }
}

.benefits__item {
  @media @tablet {
    min-height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &--housing {
    background: url("../img/icon-house.svg") 8% 20% no-repeat;

    @media @tablet {
      background-size: 75px 72px;
      background-position: 49% 23%;
    }
  }

  &--souvenirs {
    background: url("../img/icon-gift.svg") 9% 23% no-repeat;

    @media @tablet {
      background-size: 64px 75px;
      background-position: 48% 22%;
      order: 3;
    }
  }

  &--food {
    background: url("../img/icon-burger.svg") 6% 24% no-repeat;

    @media @tablet {
      background-size: 77px 68px;
      background-position: 48% 24%;
    }
  }
}

.benefits__conteiner {
  margin: 0 auto;

  @media @tablet {
    min-width: 165px;
    min-height: 100px;
    padding: 89px 46px 0;
  }

  @media @desktop {
    min-width: 308px;
  }
}

.benefits__title {
  text-align: left;
  margin: 0;
  padding-top: 33px;
  padding-left: 69px;

  &--housing {
    padding: 35px 0 13px 69px;
  }

  &--souvenirs {
    padding: 29px 0 14px 70px;
  }

  &--food {
    padding: 28px 0 14px 69px;
  }

  @media @tablet {
    font-size: 21px;
    text-align: center;
    padding: 0;
  }
}

.benefits__description {
  margin: 0;
  padding-left: 70px;
  padding-right: 41px;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  color: @secondaryColor;

  @media @tablet {
    padding: 0;
    transform: translate(-2px, 20px);
    text-align: center;
  }

  @media @desktop {
    padding: 0;
  }

  &--souvenirs {
    @media @desktop {
      padding: 0 20px;
    }
  }
}
