.benefits {
  margin: 0;
  padding: 25px 0 19px;
  list-style: none;
  background-color: @baseColor;

  @media @tablet {
    display: flex;
    padding: 60px 0;
    text-align: center;
  }
}

.benefits__item {
  padding: 10px 20px 18px 70px;
  background-repeat: no-repeat;
  background-position: 24px 0;

  @media @tablet {
    width: 100% *1/3;
    background-position: 50% 0;
    background-size: auto 72px;
    padding: 100px 45px 0;
  }

  @media @desktop {
    padding: 100px 57px 0;
  }

  &--housing {
    background-image: url("../img/icon-house.svg");
  }

  &--souvenirs {
    background-image: url("../img/icon-gift.svg");

    @media @tablet {
      order: 3;
    }
  }

  &--food {
    background-image: url("../img/icon-burger.svg");
    background-position: 20px 5px;

    @media @tablet {
      background-position: 50% 0;
    }
  }
}

.benefits__title {
  margin: 0;
  padding-bottom: 14px;

  @media @tablet {
    font-size: 21px;
    padding-bottom: 21px;
  }
}

.benefits__description {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  color: @secondaryColor;

  &--souvenirs {
    @media @desktop {
      padding: 0 35px 21px;
    }
  }
}
