.copyright {
  position: relative;
  padding-top: 40px;
  padding-right: 43px;

  @media @tablet {
    margin: 8px 0 0 auto;
    padding-top: 0;
  }
}

.copyright__text {
  font-size: 14px;
  font-weight: 400;
}

.copyright__link {
  position: absolute;
  padding-left: 14px;
}
