.copyright {
  position: relative;
  padding-top: 1px;
  padding-right: 43px;
}

.copyright__text {
  font-size: @secondaryFontSize;
  font-weight: 400;
}

.copyright__link {
  position: absolute;
  padding-left: 14px;
}
