.feedback-form {
  padding: 37px 0 44px;

  @media @tablet {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px 68px;
  }

  @media @desktop {
    padding: 0 120px 73px;
  }
}

.feedback-form__group {
  position: relative;
  border: none;
  margin: 0;
  padding: 0;

  @media @tablet {
    width: 50%;
  }

  &--impressions {
    @media @tablet {
      margin-top: 46px;
    }
  }

  &--alternative-design {
    width: 100%;
  }

  &--radio {
    @media @tablet {
      position: relative;
      order: -1;

      &::before {
        content: "";
        position: absolute;
        top: 6px;
        right: 0;
        bottom: 24px;
        width: 1px;
        background-color: #dbdbdb;

        @media @desktop {
          right: -1px;
        }
      }
    }
  }
}

.feedback-form__group-name {
  position: relative;
  font-weight: 700;
  width: 100%;
  text-align: center;
  padding: 0;

  @media @tablet {
    font-size: 21px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -19px;
    left: 0;
    width: 320px;
    height: 1px;
    background-color: #e5e5e5;

    @media @tablet {
      background-color: #dbdbdb;
      top: 12px;
      width: 125px;
    }

    @media @desktop {
      top: 10px;
      width: 279px;
    }
  }

  &::after {
    @media @tablet {
      content: "";
      position: absolute;
      top: 12px;
      right: 0;
      width: 123px;
      height: 1px;
      background-color: #dbdbdb;
    }

    @media @desktop {
      top: 10px;
      width: 279px;
    }
  }

  &--check {
    @media @tablet {
      box-sizing: border-box;
      padding: 0 120px;
    }

    @media @desktop {
      padding: 0 290px;
    }

    &::before,
    &::after {
      @media @tablet {
        top: 25px;
      }
    }
  }

  &--radio {
    @media @tablet {
      text-align: left;
    }

    @media @desktop {
      padding-left: 80px;
    }

    &::before,
    &::after {
      @media @tablet {
        content: none;
      }
    }
  }

  &--name {
    @media @tablet {
      padding-right: 50px;
    }

    @media @desktop {
      padding-right: 160px;
    }

    &::before,
    &::after {
      @media @tablet {
        content: none;
      }
    }
  }
}

.feedback-form__field {
  padding: 21px 20px 24px;

  @media @tablet {
    padding: 57px 0 4px 60px;
  }

  @media @desktop {
    padding-left: 79px;
  }

  &--wrapper {
    padding: 21px 20px 47px;

    @media @tablet {
      padding: 25px 0 53px;
    }

    @media @desktop {
      display: flex;
      justify-content: space-between;
      padding: 72px 0 53px;
    }
  }

  &--radio {
    padding: 23px 20px 33px;

    @media @tablet {
      padding: 59px 0 2px;
    }

    @media @desktop {
      padding: 59px 4px 2px;
    }
  }

  &--checkbox {
    padding: 31px 20px 6px;

    @media @tablet {
      max-width: 520px;
      padding: 56px 0 22px 63px;
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
    }

    @media @desktop {
      display: flex;
      justify-content: space-between;
      max-width: 954px;
      padding: 56px 6px 22px 1px;
    }
  }

  &--comment {
    padding: 17px 22px 31px 19px;

    @media @tablet {
      padding: 57px 0 38px;
    }

    @media @desktop {
      padding-top: 55px;
    }
  }
}

.feedback-form__submit {
  width: 280px;
  text-transform: uppercase;

  @media @tablet {
    position: relative;
    width: 324px;
    margin-left: 0;
  }

  @media @desktop {
    width: 480px;
  }

  &::before {
    @media @tablet {
      content: "* – обязательные поля";
      position: absolute;
      font-size: 14px;
      right: -323px;
      color: #333333;
      top: 22px;
    }

    @media @desktop {
      right: -478px;
    }
  }
}
