.products-offers {
  position: relative;
  padding-top: 28px;

  @media @tablet {
    padding-top: 55px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 70%;
    left: 46%;
    width: 27px;
    height: 27px;
    background-image: url("../img/icon-map-marker.svg");
  }
}

.products-offers__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.products-offers__title {
  font-size: 21px;

  @media @tablet {
    font-size: 30px;
  }
}

.products-offers__text {
  font-size: 14px;
  margin: 0 auto;
  padding: 18px 0 35px;
  line-height: 24px;
  width: 261px;

  @media @tablet {
    width: 435px;
    padding: 31px 0 42px;
    margin: 0;
  }

  @media @desktop {
    padding: 32px 360px 46px;
  }
}

.products-offers__hotel {
  margin-bottom: 49px;

  @media @tablet {
    width: 459px;
    margin: 0 auto;
    margin-bottom: 58px;
  }

  @media @desktop {
    margin: 0 371px;
    margin-bottom: 66px;
  }
}
