.section-header {
  padding: 0 33px 0 32px;

  &--photo {
    padding: 0 22px 23px 25px;
    border-bottom: 1px solid #e5e5e5;
  }

  &--form {
    padding: 0 0 13px;
  }
}

.section-header__intro {
  font-size: 14px;
  margin: 0;
  padding: 27px 0 5px;

  &--photo {
    padding: 25px 0 5px;
    line-height: 24px;
  }
}
