.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.social__link {
  display: block;
  position: relative;
  width: 46px;
  height: 48px;
  background-color: @secondaryBackgroundColor;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 6px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }

  &--twitter {
    &::before {
      background-image: url("../img/icon-twitter.svg");
    }
  }

  &--facebook {
    width: 47px;

    &::before {
      background-image: url("../img/icon-facebook.svg");
    }
  }

  &--youtube {
    &::before {
      background-image: url("../img/icon-youtube.svg");
    }
  }
}
