.video {
  padding-top: 32px;
  padding-bottom: 45px;
  text-align: center;

  @media @tablet {
    padding-bottom: 47px;
  }

  @media @desktop {
    padding-bottom: 63px;
  }
}

.video__wrapper {
  @media @tablet {
    margin: 0 auto;
    padding: 36px 60px 0;
  }

  @media @desktop {
    padding: 38px 201px 22px 199px;
  }
}

.video__title {
  @media @tablet {
    font-size: 30px;
  }
}

.video__text {
  font-size: 14px;
  line-height: 24px;
  margin: 0 auto;
  padding: 27px 40px 35px 43px;

  @media @tablet {
    padding: 24px 108px 73px;
  }

  @media @desktop {
    padding: 27px 130px 70px;
    margin: 0 75px;
  }
}

.video__src-wrapper {
  position: relative;
  height: 200px;
  background-color: #000000;
  background-size: cover;
  background-image: url("../img/video.jpg");

  @media @tablet {
    background-image: url("../img/video-tablet@1x.jpg");
    height: 500px;
  }

  @media @desktop {
    background-image: url("../img/video-desktop@1x.jpg");
  }
}

.video__src {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
}

.video__contoller {
  position: relative;
  margin: 0 20px;

  @media @tablet {
    margin: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: -23px;
    right: 23px;
    left: 23px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.2);

    @media @tablet {
      top: 45px;
      right: 168px;
      left: 92px;
    }
  }
}

.video__range {
  position: absolute;
  top: -45px;
  left: 50%;
  width: 100%;
  height: 45px;
  opacity: 0.6;
  background-color: black;
  transform: translateX(-50%);

  @media @tablet {
    width: 0;
    background: none;
    opacity: 1;
    top: 45px;
    left: 230px;
  }
}

.video__toggle {
  position: absolute;
  left: 58px;
  bottom: 17px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  background-color: #ffffff;

  @media @tablet {
    bottom: 38px;
    left: 0;
  }
}

.video__container {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 23px 23px 18px;
  width: 100%;
  height: 66px;
  background-color: #f2f2f2;

  @media @tablet {
    width: 100%;
    min-height: 93px;
    margin-top: -92px;
    opacity: 0.6;
    background-color: black;
  }

  @media @desktop {
    margin-top: -93px;
  }
}

.video__link {
  position: absolute;
  border: 0;
  height: 20px;

  &--refresh {
    background: url("../img/icon-video-replay.svg") 50% 50% no-repeat;
    width: 16px;
    left: 25px;
    bottom: 24px;

    @media @tablet {
      left: 36px;
      bottom: 37px;
    }
  }

  &--subtitles {
    background: url("../img/icon-video-subtitles.svg") 50% 50% no-repeat;
    width: 32px;
    bottom: 22px;
    right: 74px;

    @media @tablet {
      right: 92px;
      bottom: 37px;
    }
  }

  &--full-screen {
    background: url("../img/icon-video-fullscreen.svg") 50% 50% no-repeat;
    width: 20px;
    right: 23px;
    bottom: 22px;

    @media @tablet {
      bottom: 37px;
      right: 40px;
    }
  }
}
