body {
  min-width: 320px;
  font-family: @baseFont;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 0;
  line-height: 26px;
}

img {
  max-width: 100%;
  height: auto;
}
