body {
  min-width: 320px;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;

  font-size: 18px;
  line-height: 26px;
  font-family: @baseFont;
  text-transform: uppercase;
  background-color: @baseColor;

  @media @desktop {
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}

img {
  max-width: 100%;
  height: auto;
}
