.black() {
  &::-webkit-input-placeholder {
    color: rgb(0, 0, 0);
    opacity: 1;
    font-family: "PT Sans", "Arial", sans-serif;
  }

  &::-moz-placeholder {
    color: rgb(0, 0, 0);
    opacity: 1;
    font-family: "PT Sans", "Arial", sans-serif;
  }

  &:-ms-input-placeholder {
    color: rgb(0, 0, 0);
    opacity: 1;
    font-family: "PT Sans", "Arial", sans-serif;
  }
}
