@baseFontSize: 18px;
@secondaryFontSize: 14px;
@otherFontSize: 21px;

@baseLineHeight: 26px;

@baseColor: #ffffff;
@secondaryColor: #333333;
@otherColor: #000000;

@secondaryBackgroundColor: #81b3d2;
